body {
  font-family: Arial, sans-serif;
  width: 200px;
  padding: 10px;
}

h1 {
  font-size: 18px;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 550;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 550;
}

#copyReport {
  background-color: #ffbf00;
  color: black;
}

button:hover {
  background-color: #45a049;
}
